<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ncl.team22.languagetutor"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk android:minSdkVersion="10" />

	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:persistent="false"
		android:theme="@style/page_standard" >
		<activity
			android:name=".LanguagetutorActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".profile.ProfileSelectionActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".test.LevelSelectActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".test.TopicsActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".test.TestActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".test.TestReviewActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".test.TestReviewGridActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".profile.ReplaceQAActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".profile.ProfileOptionsActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".profile.ReplacePasswordActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".profile.LoginActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".profile.CreateProfileActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".TopicSelectionActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".profile.StatisticsActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".TutorialActivity"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name=".RevisionActivity"
			android:screenOrientation="portrait" >
		</activity>
	</application>

</manifest>